<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
  <link rel="stylesheet" href="./mvp.css" />
</head>
<body>
   <main> 
     <h1>Home page</h1>
     <p>This page is public</p>
     <table>
      <tr>
        <th><a href = "#">Index</a></th>
        <th><a href = "/login">Login</a></th>
        <th><a href = "/signup">Sign Up</a></th>
        <th><a href = "/profile">Profile</a></th>
      </tr>
    </table>
   </main>
</body>
</html>